<a href="https://colab.research.google.com/github/cristhian29/cyp_2021/blob/main/03_Dic_CyP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Ejemplo1

for i in [1,2,3,5]:
  print(f"El elemnto: {i}")

El elemnto: 1
El elemnto: 2
El elemnto: 3
El elemnto: 5

In [ ]:

coleccion = [1,2,3,4,5]
for i in coleccion:
  print(f"El elemnto: {i}")

El elemnto: 1
El elemnto: 2
El elemnto: 3
El elemnto: 4
El elemnto: 5

In [ ]:
#Ejemplo 2

coleccion = {"Mario":20, "Mariana":19, "Yessica":14, "Luis":18}
for i in coleccion:
  print(f"Elemento: {i}")

Elemento: Mario
Elemento: Mariana
Elemento: Yessica
Elemento: Luis

In [ ]:
coleccion = {"Mario":20, "Mariana":19, "Yessica":14, "Luis":18}
for i in coleccion:
  print(f"{coleccion [i]}")

20
19
14
18

In [ ]:
coleccion = {"Mario":20, "Mariana":19, "Yessica":14, "Luis":18}
for i in coleccion:
  print(f"{i}->{coleccion[i]}")

Mario->20
Mariana->19
Yessica->14
Luis->18

In [ ]:
coleccion = {"Mario":20, "Mariana":19, "Yessica":14, "Luis":18}

for clave, valor in coleccion.items():
  print(f"{clave} -> {valor}")

Mario -> 20
Mariana -> 19
Yessica -> 14
Luis -> 18

In [ ]:
#Ejemplo3

email = False
for i in "cristhianalejo97@aragon.unam.mx":
  if (i == "@"):
    email = True

if email == True:
  print("El email es correcto")

else:
  print("El email no es correcto")

El email es correcto

In [ ]:
email = False
MiEmail = input("Introduce tu email: ")
for i in MiEmail:
  if (i == "@"):
    email = True

if email:
  print("El email es correcto")

else:
  print("El email no es correcto")

Introduce tu email: cristhianalejo97@aragon.unam.mx
El email es correcto

In [ ]:
#For-Range

for i in range(5):
  print("Hola")

Hola
Hola
Hola
Hola
Hola

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(10):
  print(f"Valor de la variable: {i}")

Valor de la variable: 0
Valor de la variable: 1
Valor de la variable: 2
Valor de la variable: 3
Valor de la variable: 4
Valor de la variable: 5
Valor de la variable: 6
Valor de la variable: 7
Valor de la variable: 8
Valor de la variable: 9

In [ ]:
#while ejemplos

i = 1
while i <= 10:
  print("Ejecucion" + str (i))

In [ ]:
i = 1
while i <= 10:
  print("Ejecucion: " + str (i))
  i = i + 1

Ejecucion: 1
Ejecucion: 2
Ejecucion: 3
Ejecucion: 4
Ejecucion: 5
Ejecucion: 6
Ejecucion: 7
Ejecucion: 8
Ejecucion: 9
Ejecucion: 10

In [ ]:
edad = int (input("Introduce tu edad: "))
while edad < 0 :
  print("Has introducido una edad negativa, Intenta de nuevo")
  edad = int (input("Introduce tu edad: "))

print("Gracias por participar. Puede pasar.")
print("Edad del aspirante: " + str (edad))

Introduce tu edad: 18
Gracias por participar. Puede pasar.
Edad del aspirante: 18

In [ ]:
edad = int (input("Introduce tu edad: "))
while edad < 0 or edad > 101:
  print("Has introducido una edad negativa, Intenta de nuevo")
  edad = int (input("Introduce tu edad: "))

print("Gracias por participar. Puede pasar.")
print("Edad del aspirante: " + str (edad))

Introduce tu edad: 100
Gracias por participar. Puede pasar.
Edad del aspirante: 100