<a href="https://colab.research.google.com/github/cristhian29/cyp_2021/blob/main/29_Enero_CyP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas de Python 3
1. Es una estructura de datos linal de 0 o n elmentos.
1. "Equivalente" a las arreglos.
1. Pueden ser de diferente tipo de dato. [1,2,3,4,5] , [1, True , 2.5 , "Hola"]
1. Pueden ser anidadas, listas de listas ["Melon",["Manzana roja" , "Manzana amarilla"]]
1. Su selector es de la forma: [int]
1. Son mutables.

In [5]:
#Ejemplos
numeros = [2,5,6,8,4,6]
print(numeros)
print(numeros[2])

#Una lista de cero elementos
colores = [] #List()
type (colores) #Averiguar que tipo de dato es una variable con la funcion type
dias = list ()
print(colores)
print(dias)

[2, 5, 6, 8, 4, 6]
6
[]
[]

In [30]:
#Pueden ser de diferente tipo de datos
mi_lista = [1,2,3,"Cristhian", False , 1.69 ,[5464586391 , 5493728492 , 4687638197] ]
print(mi_lista[5])
print(mi_lista[6][1])
print(mi_lista[3][8])
print(mi_lista[3][8::])
print(mi_lista[3][-1::1])
mi_lista = [1,2,3,"Cristhian", False , 1.69 ,["5464586391" , "5493728492" , "4687638197"] ]
print(mi_lista[6][1][4])

1.69
5493728492
n
n
n
7

In [26]:
frutas = ["melon", "sandia", "manzana", "mango","platano"]
print(frutas)
frutas[0] = "Melon"
print(frutas)
#frutas[1][0] = "S"
frutas[1] = frutas[1].capitalize()
print(frutas)

['melon', 'sandia', 'manzana', 'mango', 'platano']
['Melon', 'sandia', 'manzana', 'mango', 'platano']
['Melon', 'Sandia', 'manzana', 'mango', 'platano']

In [51]:
#Las listas son clases por lo tanto son métodos.
#Ejemploa: Append, agrega un elemento al final
frutas = ["melon", "sandia", "manzana", "mango","platano"]
frutas.append("fresas")
print(frutas)
print("")
print("Ejemplo de copia")
print("")
otras_frutas = frutas.copy()

print(frutas)
print(otras_frutas)
otras_frutas[0] = "Chico Zapote"
print(otras_frutas)
print(frutas)
print("------------------")

print("Ejemplo de extend")
print("")
colores = ["rojo", "verde", "azul"]
frutas.extend(colores)
print(frutas)

print("")

print("Ejemplo Insert")
print("")
print(f"Tamaño de la lista {len(frutas)}")
frutas.insert(3,"Limon")
print(frutas)
print(f"Tamaño de la lista {len(frutas)}")

print("")

print("Ejemplo remove, eliminar manzana")
print("")
frutas.remove("manzana")
print(frutas)

print("")

print("Ejemplo del")
print("")
del frutas[2]
print(frutas)

print("")

frutas.clear()
print(frutas)

['melon', 'sandia', 'manzana', 'mango', 'platano', 'fresas']

Ejemplo de copia

['melon', 'sandia', 'manzana', 'mango', 'platano', 'fresas']
['melon', 'sandia', 'manzana', 'mango', 'platano', 'fresas']
['Chico Zapote', 'sandia', 'manzana', 'mango', 'platano', 'fresas']
['melon', 'sandia', 'manzana', 'mango', 'platano', 'fresas']
------------------
Ejemplo de extend

['melon', 'sandia', 'manzana', 'mango', 'platano', 'fresas', 'rojo', 'verde', 'azul']

Ejemplo Insert

Tamaño de la lista 9
['melon', 'sandia', 'manzana', 'Limon', 'mango', 'platano', 'fresas', 'rojo', 'verde', 'azul']
Tamaño de la lista 10

Ejemplo remove, eliminar manzana

['melon', 'sandia', 'Limon', 'mango', 'platano', 'fresas', 'rojo', 'verde', 'azul']

Ejemplo del

['melon', 'sandia', 'mango', 'platano', 'fresas', 'rojo', 'verde', 'azul']

[]

In [60]:
cosas = ["Cristhian", True, 1,2,3,4, "Lopez",5.5]

indice = 0
a_eliminar = []
for elemento in cosas:
  if isinstance( elemento, int):
    print("Enetro", elemento)
    a_eliminar.append(elemento)
  indice += 1
print(a_eliminar)
for indice in a_eliminar:
  print(a_eliminar)
  cosas.remove(indice)
print(cosas)

Enetro True
Enetro 1
Enetro 2
Enetro 3
Enetro 4
[True, 1, 2, 3, 4]
[True, 1, 2, 3, 4]
[True, 1, 2, 3, 4]
[True, 1, 2, 3, 4]
[True, 1, 2, 3, 4]
[True, 1, 2, 3, 4]
['Cristhian', 'Lopez', 5.5]

In [74]:
# Slicing sobre listas
frutas = ["melon", "sandia", "manzana", "mango","platano"]

print(frutas[1:4:])

sistemas_operativos = ["Windows","Mac OS","Linux","Android"]
autos = ["Ford","Mazda","Honda"]

cosas = [sistemas_operativos , autos ]
print(cosas)

print(cosas[1])

print(cosas[0][2])

print(cosas[0][3][2:5:])

print(cosas[1][1][-2:-5:-1])

['sandia', 'manzana', 'mango']
[['Windows', 'Mac OS', 'Linux', 'Android'], ['Ford', 'Mazda', 'Honda']]
['Ford', 'Mazda', 'Honda']
Linux
dro
dza