<a href="https://colab.research.google.com/github/cristhian29/cyp_2021/blob/main/Tarea_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Problema 1.1

PREPRO = 0
PAGO = 0
DEVO = 0

PREPRO = float (input("Precio del producto: "))
PAGO = float (input("Pago: "))
DEVO = PAGO - PREPRO

print(f"Cambio del cliente {DEVO} ")

Precio del producto: 49.20
Pago: 100
Cambio del cliente 50.8

In [6]:
#Problema 1.2

BASE = 0
ALTU = 0
SUP = 0

BASE = float (input("Base del triangulo: "))
ALTU = float (input("Altura del triangulo: "))
SUP = ( BASE * ALTU ) / 2

print(f"Las superficie del triangulo es de: {SUP} ")

Base del triangulo: 8.50
Altura del triangulo: 7.20
Las superficie del triangulo es de: 30.6

In [13]:
#Problema 1.3

NOM = 0
PES = 0
LON = 0
PESKIL = 0
LONMET = 0

NOM = input("Nombre del dinosaurio: ")
PES = float (input("Peso en toneladas: "))
LON = float (input("Longitud en pies: "))

PESKIL = PES * 1000
LONMET = LON * 0.3047

print(f"El nombre del dinosaurio es: {NOM} ")
print(f"El peso del dinosaurio es de: {PESKIL} kilogramos")
print(f"La longitud del dinosaurio es de: {LONMET} metros")

Nombre del dinosaurio: PLATEOSAURUS
Peso en toneladas: 5
Longitud en pies: 30
El nombre del dinosaurio es: PLATEOSAURUS
El peso del dinosaurio es de: 5000.0 kilogramos
La longitud del dinosaurio es de: 9.141 metros

In [16]:
#Problema 1.4

GAL = 0
TOTAL = 0

GAL = float (input("Combustible en galones: "))
TOTAL = ( GAL * 3.785) * 8.20

print(f"Total a pagar: {TOTAL}")

Combustible en galones: 19.90
Total a pagar: 617.6363

In [18]:
#Problema 1.5

RADIO = 0
ALTU = 0
VOL = 0
ARE = 0
PI = 3.141592

RADIO = float (input("Radio del cilindro: "))
ALTU = float (input("Altura del cilindro: "))
VOL = PI * ( RADIO ** 2 ) * ALTU
ARE = 2 * PI * RADIO * ALTU

print(f"Volumen del cilindro: {round( VOL , 3 )}")
print(f"Area del cilindro: {round( ARE , 3 )}")

Radio del cilindro: 45.22
Altura del cilindro: 11.60
Volumen del cilindro: 74519.321
Area del cilindro: 3295.857

In [22]:
#Problema 1.6

DIAS = 0
SEG = 0

DIAS = int (input("Dias: "))
SEG = DIAS * 24 * 60 * 60

print(f"En {DIAS} dias,"f" hay {SEG} segundos")

Dias: 116
En 116 dias, hay 10022400 segundos